* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box; }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center; }
  .flex-container.center {
    justify-content: center;
    align-items: center; }

@media screen and (max-width: 480px) {
  .header {
    flex-direction: column; }

  .footer {
    flex-direction: column; }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
    align-content: center; }

  .position-1 {
    width: 100%;
    background: lightgray; }

  .position-2 {
    width: 100%;
    background: lightgray; }

  .position-3 {
    width: 100%;
    background: lightgray; }

  .position-4 {
    width: 100%;
    background: lightgray; }

  .position-5 {
    width: 100%;
    background: lightgray; }

  .position-6 {
    width: 100%;
    background: lightgray; }

  .position-7 {
    width: 100%;
    background: lightgray; }

  .position-8 {
    width: 100%;
    background: lightgray; }

  .position-9 {
    width: 100%;
    background: lightgray; } }
@media screen and (min-width: 481px) and (max-width: 959px) {
  header, main, footer {
    margin-left: 0;
    margin-right: 0; }

  .header {
    flex-direction: row; }

  .footer {
    flex-direction: row; }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto); }

  .position-1 {
    grid-column: 1;
    grid-row: 1;
    background: lightgray; }

  .position-2 {
    grid-column: 2;
    grid-row: 1;
    background: lightgray; }

  .position-3 {
    grid-column: 3;
    grid-row: 1;
    background: lightgray; }

  .position-4 {
    grid-column: 1;
    grid-row: 2;
    background: lightgray; }

  .position-5 {
    grid-column: 2;
    grid-row: 2;
    background: lightgray; }

  .position-6 {
    grid-column: 3;
    grid-row: 2;
    background: lightgray; }

  .position-7 {
    grid-column: 1;
    grid-row: 3;
    background: lightgray; }

  .position-8 {
    grid-column: 2;
    grid-row: 3;
    background: lightgray; }

  .position-9 {
    grid-column: 3;
    grid-row: 3;
    background: lightgray; } }
@media screen and (min-width: 960px) {
  header, main, footer {
    width: 960px;
    margin-left: auto;
    margin-right: auto; }

  .header {
    flex-direction: row; }

  .footer {
    flex-direction: row; }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto); }

  .position-1 {
    grid-column: 1;
    grid-row: 1;
    background: lightgray; }

  .position-2 {
    grid-column: 2;
    grid-row: 1;
    background: lightgray; }

  .position-3 {
    grid-column: 3;
    grid-row: 1;
    background: lightgray; }

  .position-4 {
    grid-column: 1;
    grid-row: 2;
    background: lightgray; }

  .position-5 {
    grid-column: 2;
    grid-row: 2;
    background: lightgray; }

  .position-6 {
    grid-column: 3;
    grid-row: 2;
    background: lightgray; }

  .position-7 {
    grid-column: 1;
    grid-row: 3;
    background: lightgray; }

  .position-8 {
    grid-column: 2;
    grid-row: 3;
    background: lightgray; }

  .position-9 {
    grid-column: 3;
    grid-row: 3;
    background: lightgray; } }
.header, .footer {
  padding-top: 20px;
  padding-bottom: 20px; }

.header {
  background: orange; }

.footer {
  background: lightgray; }

.logo {
  width: 30%; }

.btn {
  height: 42px;
  width: 126px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px; }

.tile {
  width: 100%; }

.img-container {
  background: black; }

.details {
  background: white;
  border: 1px solid black; }

.img-container, .details {
  width: 100%;
  padding: 10px; }

.padded {
  padding: 10px; }

/*# sourceMappingURL=style.css.map */
