@import "_base";

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  &.center {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  @include flex-settings;
}

@media screen and (min-width: 481px) and (max-width: 959px) {
  header, main, footer {
    margin-left: 0;
    margin-right: 0;
  }

  @include grid-settings;
}

@media screen and (min-width: 960px) {
  header, main, footer {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  @include grid-settings; 
}

.header, .footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  background: $bg-color-header;
}

.footer {
  background: $bg-color-footer;
}

.logo {
  width: 30%;
}

.btn {
  height: 42px;
  width: 126px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px;
}

.tile {
  width: 100%;
}

.img-container {
  background: $bg-color-img;
}

.details {
  background: $bg-color-details;
  border: 1px solid $bg-color-img;
}

.img-container, .details {
  width: 100%;
  padding: 10px;
}

.padded {
  padding: 10px;
}